@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto+Slab);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: RobotoSlab, sans-serif;

  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
